{% extends "layout.html" %} {% block content %}
<h3>Add a Page</h3>
<hr />
<form method="POST" action="/wiki/">
	<label for="NAME" class="col-sm-2 control-label my-3">Name</label>
	<div class="col-sm-10">
		<input name="name" id="NAME" type="text" class="form-control" />
	</div>

	<label for="EMAIL" class="col-sm-2 control-label my-3">-Email</label>
	<div class="col-sm-10">
		<input name="email" id="EMAIL" type="email" class="form-control" />
	</div>

	<div class="form-group my-3">
		<label for="TITLE" class="col-sm-2 control-label">Page Title</label>
		<div class="col-sm-10">
			<input name="title" id="TITLE" type="text" class="form-control" />
		</div>
	</div>

	<!-- <div>PLACEHOLDER FOR PAGE CONTENT TEXTAREA FIELD</div> -->
	<div class="form-floating my-3">
		<label for="floatingTextarea">Write wiki content</label>
		<textarea
			class="form-control"
			name="content"
			id="floatingTextarea"
		></textarea>
	</div>

	<div class="form-floating">
		<select
			name="status"
			class="form-select"
			id="floatingSelect"
			aria-label="Floating label select example"
		>
			<option value="open">Open</option>
			<option value="closed">Closed</option>
		</select>
		<label for="floatingSelect">Choice a status</label>
	</div>

	<div class="col-sm-offset-2 col-sm-10">
		<button type="submit" class="btn btn-primary">submit</button>
	</div>
</form>
{% endblock %}
